.choice {
  background: #eee;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 10px;
  position: relative;
}

.choice.selected {
  background: #abbf73;
}

.choice.highlighted {
  background: #ccd8ab;
}

.choice:focus {
  outline: none;
}

.choice:focus-visible {
  background: #ccd8ab;
  box-shadow: 0 0 1px 1px #000;
  outline: none;
  z-index: 1;
}

.text {
  float: left;
  max-width: 100%;
}

.name {
  color: #333;
  font-size: 0.7rem;
}
