.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-gap-narrow);
  margin-top: 3px;
  width: 100%;
}

.options button {
  border: 1px solid var(--color-border-light);
  border-radius: 5px;
  font-size: 0.9rem;
  height: 50px;
  padding: 5px 10px 5px 10px;
  text-align: left;
  width: 145px;
}

.options button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-focus);
  outline: none;
  z-index: 1;
}
