.modal {
  background-color: var(--color-modal-overlay);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal section {
  background-color: var(--color-modal-bg);
  box-shadow: 0 0 5px 2px var(--color-border);
  border-radius: 5px;
  overflow-y: scroll;
  margin: 10% auto;
  margin-top: 50px;
  padding: 30px;
  max-height: 80%;
  width: 70%;
  max-width: 500px;
}

.close {
  float: right;
  border: 0;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.subheading {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-top: 1.4rem;
}

.paragraph {
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
  margin-top: 0.5rem;
}

.strong {
  font-weight: 600;
}

.shortcut {
  background-color: var(--color-shortcut-bg);
  border-radius: 5px;
  color: var(--color-shortcut-text);
  display: inline-block;
  fill: var(--color-shortcut-text);
  font-size: 0.9rem;
  min-height: 15px;
  min-width: 15px;
  padding: 5px;
  text-align: center;
}

.tableCell {
  padding: 5px;
}
