.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  width: 310px;
  border-bottom: 2px solid var(--color-border-light);
}

.tabList {
  display: flex;
  justify-content: space-between;
}

.tabList button {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  color: var(--color-text);
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 12px;
  width: 100%;
}

.tabList button:hover {
  text-decoration: underline;
}

.selected {
  background-color: var(--color-button-selected);
  border-bottom-color: var(--color-button-selected);
  font-weight: 600;
}
