.tabs {
  width: 100%;
}

.tabList {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  text-align: center;
}

.tabList button {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  border-left: 0;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  height: 40px;
  font-size: 0.8rem;
  width: 100px;
}

.tabList button:first-child {
  border-left: 1px solid #ccc;
}

.selected {
  background-color: #abbf73;
  border-color: #abbf73;
}
