.rootNote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width-control-wide);
}

@media only screen and (max-width: 680px) {
  .rootNote {
    max-width: var(--width-control-narrow);
  }
}

.buttonGroup {
  margin: 0 0 20px 0;
}

.buttonGroup li {
  display: inline-block;
}

.buttonGroup button {
  border-right: 1px solid var(--color-border-light);
  border-top: 1px solid var(--color-border-light);
  border-bottom: 1px solid var(--color-border-light);
  border-left: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.buttonGroup li:first-child button {
  border-radius: 10px 0 0 10px;
  border-left: 1px solid var(--color-border-light);
}

.buttonGroup li:last-child button {
  border-right: 1px solid var(--color-border-light);
  border-radius: 0 10px 10px 0;
}

.buttonGroup button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-focus);
  outline: none;
  z-index: 1;
}
