.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 780px;
  margin: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  max-width: 780px;
  width: 100%;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  color: var(--color-text);
  fill: var(--color-text);
  font-size: 0.9rem;
  margin: 5px 0 5px 5px;
  padding: 3px;
  vertical-align: middle;
}

.navButton:hover {
  text-decoration: underline;
}

.navButton:focus {
  outline: 2px solid var(--color-focus);
}

.navButton svg {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.piano {
  border-top: 3px solid var(--color-border-piano);
  margin: 0 10px 20px 10px;
  max-width: 780px;
  width: 100%;
  overflow: hidden;
}

.piano svg {
  margin-top: -1px;
}
