#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 780px;
    margin: auto;
  }
  
  #controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;
  }

  @media only screen and (max-width: 650px) {
    #controls  {
        justify-content: center;
    }
  }
  
  h2 {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  @media only screen and (max-width: 650px) {
      h2 {
          max-width: 350px;
      }
  }
  
  .piano {
    border-top: 5px solid #000;
    margin: 20px 0 20px 0;
    max-width: 780px;
    width: 100%;
  }
