#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 780px;
    margin: auto;
  }

.piano {
  border-top: 5px solid #000;
  margin: 20px 0 20px 0;
  max-width: 780px;
  width: 100%;
}
