.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 780px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  max-width: 780px;
  width: 100%;
}

.navInstruments {
  display: flex;
  justify-content: flex-start;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
}

.navButton {
  background-color: var(--color-nav-button-bg);
  border: 1px solid var(--color-nav-button-border);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: var(--color-nav-button-text);
  fill: var(--color-nav-button-text);
  font-size: 0.9rem;
  margin-left: 5px;
  padding: 5px 0 5px 5px;
  vertical-align: middle;
}

.navButton:hover {
  text-decoration: underline;
}

.navButton svg {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.piano {
  border-top: 5px solid var(--color-border);
  margin: 0 10px 20px 10px;
  max-width: 780px;
  width: 100%;
}
