button {
    background: #eee;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    padding: 10px;
}

button svg {
    float: right;
}

button .text {
    float: left;
    max-width: 100%;
}

button .name {
    color: #333;
    font-size: 0.7rem;
}
